
.whoarewebody{
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Urbanist";
}
.whoarewemid{
    padding-left: 80px;
    padding-right: 80px;
}
.whoareweimgmid{
    width: 250px;
}
.whoarewemidtext1{
    padding-left: 20px;
}
.whoarewemidtext2{
    padding-right: 20px;
}