<div class="whoarewebody">


   
        <div id="firstdiv">
            
                <div id="firstsubdiv1">
                    <h2><b>Qui sommes nous ?</b></h2>
                    <div id="QuiSommetext">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ratione pariatur vero earum ex.
                        Quidem sit esse iure quae ab natus repudiandae, omnis, et, asperiores aliquid perspiciatis enim
                        sequi qui?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, cupiditate error
                        repellat adipisci animi aperiam mollitia sint iure neque saepe doloribus dolor, iste nam cumque
                        porro ratione magni. Neque, obcaecati!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsam dicta illum
                        similique suscipit rerum itaque nisi est. Ipsum doloribus suscipit officiis obcaecati laborum
                        quas repudiandae consequuntur porro vitae iure.
                    </div>
                </div>
           
            
                <div id="firstsubdiv2">
                    <app-image-space [imageSpace]="imageEight"></app-image-space>
                </div>
            
        </div>

    <div class="whoarewemid">
        <div class="midcontainer">
            
        
                <div class="whoareweimgmid right">
                    <app-image-space [imageSpace]="imageNine"></app-image-space>
                </div>
                <div class="whoarewemidtext1">
                    <h4><b>Progression suivant les tâches accomplies</b></h4>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam vel sit harum corporis, minima
                        molestias commodi sapiente architecto fuga rem corrupti enim natus ipsum id numquam incidunt
                        omnis explicabo voluptatum.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae eveniet, deserunt odit nemo
                        rerum beatae nam totam laborum doloremque dolorem deleniti ipsum quo porro in unde. Reiciendis
                        voluptate iusto consequatur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sint doloribus quia unde velit.
                        Quidem, minima laboriosam illo atque nobis porro quasi doloribus debitis laborum explicabo, hic,
                        maiores corrupti nesciunt.
                    </p>
                </div>
        </div>
        <div class="midcontainer">
                <div class="whoarewemidtext2">
                    <h4><b>Déposer vos article chez un marchand</b></h4>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci aspernatur molestias ut optio
                        laudantium qui nostrum error in, aliquam dicta ab itaque? Quis quia cum illo unde ea neque
                        tempora?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus accusantium et dolorum
                        tempore rerum qui sequi! Qui doloremque, ipsum soluta tempora cumque nobis odit. Mollitia
                        molestias animi accusantium vel hic?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo earum odio consectetur
                        explicabo? Architecto consequatur nam, tempore incidunt rem et earum delectus ut fugit numquam,
                        accusamus ducimus eum beatae.
                    </p>
                </div>
        
           
                <div class="whoareweimgmid">
                    <app-image-space [imageSpace]="imageTen"></app-image-space>
                </div>
        </div>
        <div class="midcontainer">
            
        
                <div id="imgright" class="whoareweimgmid right">
                    <app-image-space [imageSpace]="imageEleven"></app-image-space>
                </div>
           
                <div class="whoarewemidtext1">
                    <h4><b>Découvrez régulièrement nos Protips</b></h4>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci aspernatur molestias ut optio
                        laudantium qui
                        nostrum error in, aliquam dicta ab itaque? Quis quia cum illo unde ea neque tempora?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus accusantium et dolorum
                        tempore rerum qui
                        sequi! Qui doloremque, ipsum soluta tempora cumque nobis odit. Mollitia molestias animi
                        accusantium vel hic?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo earum odio consectetur
                        explicabo?
                        Architecto consequatur nam, tempore incidunt rem et earum delectus ut fugit numquam, accusamus
                        ducimus eum
                        beatae.
                    </p>
                </div>
        </div>
    </div>
</div>
