<div class="home-content">
    <h1 class="home-title">Aventure écologique</h1>
    <p class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <span *ngIf="!connected">
        <button mat-flat-button (click)="goToSignUp()">Créer un compte</button>
    </span>
    <span *ngIf="connected">
        <span *ngIf="commercant">
            <button mat-flat-button (click)="openDialog()">Valider un participant</button>
        </span>
    </span>
</div>
<div class="home-img">
    <img src="../assets/images/accueil.svg"/>
</div>
