@font-face {
    font-family: "Urbanist";
    src: local("Urbanist"), url(../../assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf) format("truetype");
}

.home-title{
    position: absolute;
    margin-left: 0%;
    margin-top: 10%;
    line-height: 1;
}

.home-bg {
    position: absolute;
    margin-left: 40%;
    z-index: 1;
}

.home-img {
    position:relative;
    margin-left: 45%;
    margin-top: 15%;
    z-index: 2;
}

.home-content {
    width: 45%;
    position:absolute;
    z-index: 3;
    margin-top: 5%;
    margin-left: 5%;
}

h1 {
    font-family: "Urbanist";
    font-size: 5em;
    font-weight: bold;
}

.home-text {
    z-index: 3;
    font-family: "Urbanist";
    font-size: 1.5em;
    margin-top: 48%;
    overflow-wrap: normal;
    width: 100%;
}

button {
    color: white;
    background-color: #2BD556;
}


@media all and (max-width: 900px)
{
    .home-text {
        margin-top: 200px;
    }

    .home-title{
        position: absolute;
        margin-left: 0%;
        margin-top: 10%;
        line-height: 1;
        font-size: 4em;
    }

}
