<div class="home-content">
    <h1 class="home-title">Aventure écologique</h1>
    <p class="home-text">Vouloir un monde meilleur est une chose, en être acteur en est une autre. <br>Grâce à Eco-Quest, devenez un pilier de l'éco-responsabilité tout en profitant d'avantages et de réductions dans nos commerces partenaires.</p>
    <span *ngIf="!connected">
        <button mat-flat-button (click)="goToSignUp()">Créer un compte</button>
    </span>
    <span *ngIf="connected">
        <span *ngIf="commercant">
            <button mat-flat-button (click)="openDialog()">Valider un participant</button>
        </span>
    </span>
</div>
<div class="home-img">
    <img src="../assets/images/accueil.svg"/>
</div>
