<div class=second-body>

    <mat-grid-list cols="2">
        <mat-grid-tile>
            <app-image-space [imageSpace]="imageOne"></app-image-space>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="upper-right-text">
                <app-text-box></app-text-box>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="3" gutterSize="120px" rowHeight="300" class = "second-row">
        <div class = "second-row">
        <mat-grid-tile>
            <app-image-space [imageSpace]="imageTwo"></app-image-space>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-image-space [imageSpace]="imageThree"></app-image-space>
        </mat-grid-tile>
        <mat-grid-tile >
            <app-image-space [imageSpace]="imageFour"></app-image-space>
        </mat-grid-tile>
    </div>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="400">
        <mat-grid-tile>
            <div class = "bottom-left-text">
                <app-text-box></app-text-box>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-image-space [imageSpace]="imageFive"></app-image-space>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" gutterSize="100">
        <mat-grid-tile align-items = "flex-end">
            <app-image-space [imageSpace]="imageSix" class = third-row-left-image></app-image-space>
        </mat-grid-tile>
        <mat-grid-tile align-items = "flex-end">
            <app-image-space [imageSpace]="imageSeven" class = third-row-right-image></app-image-space>
        </mat-grid-tile>
    </mat-grid-list>
</div>