.second-body {
  padding: 65px;
}

.upper-right-text {
  padding-left: 50px;
}

.bottom-left-text {
  padding-right: 50px;
}

.second-row {
  padding-right: 50px;
  padding-left: 50px;
}

.third-row-left-image{
  padding-right: 100px;
}

.third-row-right-image{
  padding-left: 100px;
}
