.second-body {
  font-family: "Urbanist";
  padding: 65px;
}

.first-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between ;
  align-items: center;
  gap: 5%;
}
#flex1{
  flex:1;
}
#flex2{
  flex:1;
}
.text-title{
  text-align: center;
}

.second-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#flex3{
  flex:1;
  max-width: 100%;
}

#flex4 {
  flex:1;

}
#flex5 {
  flex:1;
}

.third-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly ;
  align-items: center;
  gap: 5%;
}

#flex6{
  flex:1;
}

#flex7 {
  flex:1;
}

.fourth-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-items: flex-end;
  gap: 20%;
  padding: 5%;
}

#flex8{
  flex:1;
}

#flex9 {
  flex:1;
}

img {
  max-width: 100%;
}

