<div class=second-body>

    <div class="first-row">
        
        <div id="flex1">
            <app-image-space [imageSpace]="imageOne"></app-image-space>
        </div>
        <div id="flex2">
            <h1 class=text-title>L'essentiel des protips</h1>
            <app-text-box></app-text-box>
        </div>
    </div>

    <div class="second-row">
        <div class="image" id="flex3">
            <app-image-space [imageSpace]="imageTwo"></app-image-space>
        </div>
        <div class="image" id="flex4">
            <app-image-space [imageSpace]="imageThree"></app-image-space>
        </div>
        <div class="image" id="flex5">
            <app-image-space [imageSpace]="imageFour"></app-image-space>
        </div>
    </div>

    <div class="third-row">
        <div id="flex6">
            <h1 class=text-title>Trajets en voiture</h1>
            <app-text-box></app-text-box>
        </div>
        <div id="flex7">
            <app-image-space [imageSpace]="imageFive"></app-image-space>
        </div>
    </div>

    <div class="fourth-row">
        <div id="flex8">
            <app-image-space [imageSpace]="imageSix" class=third-row-left-image></app-image-space>
        </div>
        <div id="flex9">
            <app-image-space [imageSpace]="imageSeven" class=third-row-right-image></app-image-space>
        </div>

    </div>