<mat-card class="example-card">
    <!-- <mat-card-subtitle>Tâche numéro {{taskId}}</mat-card-subtitle> -->
    <mat-card-title>
        <div [hidden]="confirmed">
            <input type="text" [(ngModel)]="taskName">
        </div>
        <div [hidden]="!confirmed">
            <span *ngIf="taskName">{{taskName}}</span>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div [hidden]="confirmed">
            <input type="text" [(ngModel)]="task">
        </div>
        <div [hidden]="!confirmed">
            <span *ngIf="task">{{task}}</span>
        </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <button [hidden]="confirmed" (click)="switchConfirm()">Confirmer</button>
        <button [hidden]="!confirmed" (click)="switchConfirm()">Modifier</button>
        <button mat-button>Valider</button>
        <button mat-button (click)="deleteTask()">Supprimer</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>