<div *ngIf="!client">
    <h1 mat-dialog-title>Eco-merçant</h1>

<p>ID commerçant : 1</p>
<p>Code : {{entier}}</p>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        Annuler
    </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="confirmer">Confirmer</button>
</mat-dialog-actions>
</div>

<div *ngIf="client">
    <h1 mat-dialog-title>Eco-participant</h1>

<p>ID du commerçant : <input type="text"></p>
<p>Code : <input type="text"></p>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        Annuler
    </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="confirmer">Confirmer</button>
</mat-dialog-actions>
</div>


