mat-tab-group{
    margin-top: 0%;
    width: 100%;
    margin-top: -5%;
}
svg{
    margin-left: 9%;
    position: static;
}


mat-tab{
    background-color: #2BD556;
}
mat-ink-bar{
    background-color: #2BD556 !important;
}
mat-tab-ink.mat-ink-bar{
    background-color: #2BD556 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #2BD556 !important;
}

button {
    text-align: center;
    color: white;
    background-color: #2BD556;
    padding: 0 17%;
}

.div-valider {
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.div-button {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 50px 20px;
}