<span>
    <img class="navbar" src="../assets/images/nav-bar.svg">
    <mat-tab-group mat-align-tabs="end">
        <mat-tab label="Accueil"><app-home></app-home></mat-tab>
        <mat-tab label="Qui sommes-nous ?"><app-whoarewe></app-whoarewe></mat-tab>
        <span *ngIf="connected">
            <span *ngIf="!commercant">
                <mat-tab label="Tâches"><app-dashboard></app-dashboard></mat-tab>
            </span>
        </span>
        <mat-tab label="Protips"><app-protips></app-protips></mat-tab>
        <span *ngIf="!connected">
            <mat-tab label="Connexion">
                <div style="margin-top: 200px;"><app-connection></app-connection></div>
            </mat-tab>
        </span>
        <span *ngIf="connected"><mat-tab label="Déconnexion">
            <div class="div-valider">
                <h1>Etes-vous sûr de vouloir vous déconnecter ?</h1>
                <div class="div-button">
                    <button mat-flat-button (click)="logout()" class="validate-confirm">Valider</button>
                </div>
            </div>
        </mat-tab></span>
    </mat-tab-group>
</span>
