<mat-grid-list cols="2">
    <mat-grid-tile class="column1">
        <form class="form">
            <h1 class="form-title">Inscription</h1>
            <div class="form-group form-space">
              <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Adresse mail">
            </div>
            <div class="form-group form-space">
              <input type="password" class="form-control" id="inputPassword1" placeholder="Mot de passe">
            </div>
            <button type="submit" class="btn form-space form-button">S'inscrire</button>
                <div class="form-check form-space d-flex">
                    <label class="form-check-label" for="check">Commerçant ?</label>
                    <input type="checkbox" class="form-check-input" id="check" style="margin-left: 20px;">
                </div>
          </form>
    </mat-grid-tile>
    <mat-grid-tile class="column2">
        <form class="form">
            <h1 class="form-title">Connexion</h1>
            <div class="form-group form-space">
              <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Adresse mail">
            </div>
            <div class="form-group form-space">
              <input type="password" class="form-control" id="inputPassword1" placeholder="Mot de passe">
            </div>
            <button type="submit" class="btn form-space form-button">Se connecter</button>
          </form>
    </mat-grid-tile>
</mat-grid-list>