@font-face {
    font-family: "Urbanist";
    src: local("Urbanist"), url(../../assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf) format("truetype");
}

.form-space {
    margin: 5% auto;
    width: 100%;
}

.form {
    width: 50%;
    margin: auto;
    font-family: "Urbanist";
}

.form-title {
    text-transform: uppercase;
    text-align: center;
}

.form-button {
    color: white;
    background-color: #2BD556;
}

.column1 {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white, #CED4DA, white) 10;
    // border-right: 1px solid rgb(204,204,204) 50%;
}


mat-grid-list{
    width: 99%;
}

body.mat-typographie{
    width: 100%;
}

.connexion-page-container {
    display: flex;
}

.error {
    color: red;
}

@media all and (max-width: 800px)
{
    .connexion-page-container
    {
        display: block;
    }

    .form {
        margin: auto;
        margin-top: 50px;
    }
}

